<!
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="modal-header">
    <h1 class="logo">
        <img class="logo-icon" src="images/icon.png"/>Candor
    </h1>
</div>
Hello <span id="username">{{name}}</span>
<form action="http://localhost:3000/users/logout" method="GET">
    <input type="submit" class="btn btn-info" value="Log Out">
</form>
</body>
</html>
