<!DOCTYPE html>
<html>
<head>
    <title>Candor</title>
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans"
            rel="stylesheet"
            type="text/css"
    />
    <link
            href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            rel="stylesheet"
            integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
            crossorigin="anonymous"
    />
    <style>
        /* Modal Structure */

        body {
            padding: 50px;
            font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
        }

        a {
            color: #00B7FF;
        }

    </style>
    <script src="./../otp_verify/otp.js"></script>
</head>

<body>
<div class="modal-header">
    <h1 class="logo">
        <img class="logo-icon" src="images/icon.png"/>Candor
        <span class="version">(1.0.0)</span>
    </h1>
</div>
<div class="modal-content">
    <p>Easily Access to Candor</p>
</div>
<div class="modal-icons">
    <div class="flex-container">
        <div class="flex">
            <form action="http://localhost:3000/users/createuser" method="POST">
                <label for="username">Username</label><br>
                <input type="text" name="username"><br>
                <label for="email">email</label><br>
                <input type="text" name="email" id="email">
                <button type="button" id="otp_button">Get Otp</button><br>
                <input type="text" name="OTP" placeholder="Enter OTP" id="otp_input">
                <button type="button" id='submit_otp'>Verify OTP</button><br>
                <span id="otp_sent"></span>
                <label for="phone">Phone</label><br>
                <input type="tel" name="phone" id="phone"><br>

                <label for="password">Password</label><br>
                <input type="password" name="password"><br>
                <input type="submit" class="btn btn-success" value="Sign Up">
            </form>
        </div>
        <div class="flex">
            <form action="http://localhost:3000/users/loginPage" method="GET">
                <input type="submit" class="btn btn-info" value="Login">
            </form>
        </div>
    </div>
</div>
</body>
</html>
